.control-group
  = f.label :event, class: 'control-label'
  .controls
    = f.text_field :event, class: 'text_field'
.control-group
  = f.label :location, class: 'control-label'
  .controls
    = f.text_field :location, class: 'text_field'
.control-group
  = f.label :when, class: 'control-label'
  .controls
    = f.text_field :when, class: "text_field datepicker"
