<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @database.url %>
</p>

<p>
  <b>Active:</b>
  <%= @database.active %>
</p>


<%= link_to 'Edit', edit_database_path(@database) %> |
<%= link_to 'Back', databases_path %>
