<!DOCTYPE html>
<html>
<head>
  <title>PocPhraseDemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= phrase_javascript("cf8a14b1e9468cce19479669ecc68c01") %>
</head>
<body>
<div class="container">

  <div id="main">
    <%= yield %>
  </div>

  <ul class="nav nav-pills">
    <li><%= link_to 'EN', {:locale => 'en'}, :class => (I18n.locale == :en ? 'active' : '') %></li>
    <li><%= link_to 'DE', {:locale => 'de'}, :class => (I18n.locale == :de ? 'active' : '') %></li>
  </ul>

</div>

</body>
</html>
